:root {
    --primary-color: #447c16 ;
    --secondary-color: #1a3bce;
    --tertiary-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

/*Header and nav section*/
header {
    padding: 20px 35px;
    justify-content: space-between;
    border-bottom: none;
    background-image: url(https://picstatio.com/download/2048x1152/tl9e0z/light-bulb-glowing-wallpaper.jpg);
    background-size: inherit;
    background-position: 50%
}
header h1 {
    border-bottom: solid;
    font-weight: bold;
    margin: 0px;
    font-size: 40px;
    color: var(--tertiary-color);
    display: inline;
}

header nav{
    margin: 7px 0;
    float: right;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }

header nav ul li{
    display: inline;
}

header nav ul a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 25px;
    color: var(--primary-color);
}


/*end header and nav*/

/*hero jumbotron*/

.hero {
    background-image: url(https://picstatio.com/download/2048x1152/tl9e0z/light-bulb-glowing-wallpaper.jpg);
    color:var(--tertiary-color);
    padding: 60px;
    text-align: center;
}

.hero h2{
    padding-bottom: 10px;
}

.hero p {
    margin: 15px 50px;
}

/*end hero jumbo*/ 


/*about me*/

#about-me {
padding-bottom: 10px;
overflow: auto;
}

.bio div {
    text-align: center;
}

.bio img {
    width: 5%;
    float: left;
    
}
.bio p {
    margin: 15px 50px;
}

.text-right {
    text-align: right;
  }


/*end about me*/



/*my ideas*/
#my-ideas{
    text-align: center;
}

#my-ideas ul {
    padding: 10px;
}

/*end my ideas*/


/*contact & footer*/

footer {
    color:var(--tertiary-color);
    background-color: var(--secondary-color);
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 10;
}
footer h4{
    text-align: center;
}
footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*end contact & footer*/