:root {
    --primary-color: #06325f;
    --secondary-color: #195797;
    --tertiary-color:#5783b1; 
    --quaternary-color: #b77109;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

h2 {
    text-decoration: underline var(--quaternary-color);
}

/*Header and nav section*/
header {
    padding: 20px 35px;
    justify-content: space-between;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
}
header h1 {
    border-bottom: solid;
    font-weight: bold;
    margin: 0px;
    font-size: 40px;
    color: var(--quaternary-color);
    display: inline;
}

header nav{
    margin: 7px 0;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }

header a:hover {
    background: var(--quaternary-color);
}

header nav ul li{
    display: inline;
}

header nav ul a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 25px;
    color: var(--tertiary-color);
}
/*end header and nav*/

/*jumbotron*/

.jumbo {
    color:var(--primary-color);
    padding: 30px;
    background-color: var(--quaternary-color);
    text-align: center;
    border-top:10px solid var(--secondary-color);
    border-left:10px solid var(--secondary-color);
    border-right:10px solid var(--secondary-color);
}

.jumbo p {
    font-family: cursive;
    margin: 15px 50px;
}

/*end jumbo*/ 


/*about me*/

.about-me {
    text-align: center;
    padding: 10px;
    border: 10px solid var(--secondary-color);
}

.bio {
justify-content: space-between;
padding: 10px;
overflow: auto;
}

.bio div {
    text-align: center;
}

.bio img {
    width: 200px;
    height: auto;
    border: 5px solid var(--quaternary-color);
    border-radius: 15px;
}

.bio p {
    display: inline;
    margin: 15px 50px;
    padding: 10px;
}

.bio ul {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
}

/*end about me*/



/*my ideas*/
#my-ideas{
    justify-content: space-between;
    text-align: center;
    border-top: none;
    border-bottom:10px solid var(--secondary-color);
    border-left:10px solid var(--secondary-color);
    border-right:10px solid var(--secondary-color);
    padding: 20px;
}

.imgs {
    display: inline;
    position: relative;
    text-align: center;
}


.centered{
    font-weight: bold;
    position: absolute;
    top: -400%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    background: rgba(183, 113, 9, .8);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 4px;
}

#my-ideas img:hover {
width: 350px;
}

#my-ideas img{
    width: 200px;
    height: 175px;
    border: 5px solid var(--quaternary-color);
}

#img-1 img {
    width: 300px;
    border: 5px solid var(--quaternary-color);
}

#img-1 img:hover{
    width: 360px;
}
/*end my ideas*/


/*contact & footer*/

footer {
    text-decoration: none;
    text-align: center;
    position: sticky;
    padding: 10px 10px 0px 10px;
    bottom: 0px;
    height: 90px;
    width: 100%;
    background-color: var(--primary-color);
}
footer ul{
    font-weight: bold;
    color:var(--quaternary-color);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer ul li{
    width: 30%;
}

footer a {
text-decoration: none;
overflow: auto;
}

footer a:visited, footer a:link{
    text-decoration: none;
    color: var(--tertiary-color);
    overflow: auto;
    }

    footer a:hover {
        background-color: var(--quaternary-color);
        text-align: center;
    }
    
/*end contact & footer*/

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    #img-1 img  {
        width: 200px;
      }
    footer ul{
        flex-direction: column;
    }
    footer ul li{
        width: 100%;
    }
}