:root {
    --primary-color: #244c60 ;
    --secondary-color: #384640;
    --tertiary-color:#eef4f0; 
    --quaternary-color: #970c10;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

h2 {
    text-decoration: underline;
}

/*Header and nav section*/
header {
    position: sticky;
    padding: 20px 35px;
    justify-content: space-between;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
}
header h1 {
    border-bottom: solid;
    font-weight: bold;
    margin: 0px;
    font-size: 40px;
    color: var(--quaternary-color);
    display: inline;
}

header nav{
    margin: 7px 0;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
  }

header nav ul li{
    display: inline;
}

header nav ul a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 25px;
    color: var(--quaternary-color);
}
/*end header and nav*/

/*hero jumbotron*/

.hero {
    color:var(--tertiary-color);
    padding: 30px;
    background-color: var(--secondary-color);
    text-align: center;
}

.hero p {
    margin: 15px 50px;
}

/*end hero jumbo*/ 


/*about me*/

.about-me {
    text-align: center;
    padding: 10px;
    border: 5px solid var(--tertiary-color);
}

.bio {
justify-content: space-between;
padding: 10px;
overflow: auto;
}

.bio div {
    text-align: center;
}

.bio img {
    float: left;
    width: 200px;
    height: 200px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.bio p {
    display: inline;
    margin: 15px 50px;
}

.text-right {
    text-align: right;
  }


/*end about me*/



/*my ideas*/
#my-ideas{
    justify-content: space-between;
    text-align: center;
    border-top: none;
    border-bottom: 5px solid var(--tertiary-color);
    border-left:5px solid var(--tertiary-color);
    border-right: 5px solid var(--tertiary-color);
}

.imgs {
    display: inline;
}

#my-ideas img:hover {
width: 400px;
}

#my-ideas img{
    width: 200px;
    height: auto;
}
/*end my ideas*/


/*contact & footer*/

footer {
    padding: 10px 10px 0px 10px;
    bottom: 0px;
    height: 90px;
    width: 100%;
    background-color: var(--secondary-color);
   
}
footer h3{
    text-align: center;
    text-decoration: underline;
}
footer ul{
    color:var(--quaternary-color);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer a {
text-decoration: none;
overflow: auto;
float: right;
}

/*end contact & footer*/